$color-pramiry: #c69963;
$color-dark-pramiry: #54483a;

$color-secondary: #101d2c;

$color-white: #fff;
$color-light-white: #f9f7f6;
$color-dark-white: #bcbcbc;

$color-black: #000;
$color-dark-black: #333;
$color-light-black: #555;
